/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    filter: invert(0.9);*/
/*  }*/
/*}*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}
header {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgb(205 205 205 / 75%);
}
header div:first-child {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link {
  display: flex;
  gap: 5px;
  align-items: center;
}
h1 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}
.function {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.function-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.function-header > div {
  display: flex;
  gap: 10px;
}
.function-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #2980b9;
  margin: 0;
}
.visibility-badge {
  font-size: 0.8em;
  background-color: #3498db;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
}
.attribute-badge {
  font-size: 0.8em;
  background-color: #e74c3c;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
}
.fragment-badge {
  background-color: #800080;
}
.vertex-badge {
  background-color: #32cd32;
}
.compute-badge {
  background-color: #1e90ff;
}
.signature {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
}
.params-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.params-table th,
.params-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.params-table th {
  background-color: #f2f2f2;
}
.return-type {
  margin-top: 10px;
  font-style: italic;
}
.function-comment {
  background-color: #eafaf1;
  padding: 10px;
  border-left: 4px solid #2ecc71;
  margin: 10px 0;
  white-space: pre-line;
}
.kw {
  color: #8e44ad;
  font-weight: bold;
}
.fn-name {
  color: #2980b9;
}
.param-name {
  color: #2c3e50;
}
.param-type {
  color: #27ae60;
}
.img-link {
  display: flex;
  gap: 5px;
  align-items: center;
}
.return-type-val {
  color: #d35400;
}
.annotation {
  color: #8d008d;
}
.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  transition: border-color 0.3s ease;
}
.search-input:focus {
  border-color: #3498db;
  outline: none;
}
.search-input::placeholder {
  color: #aaa;
}
.search-result-item {
  list-style-type: "👉";
  padding-inline-start: 1ch;
}
