/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    filter: invert(0.9);*/
/*  }*/
/*}*/
html {
  scroll-behavior: smooth;
  --gap: 10px;
}
body {
  font-family: "Fira Code", monospace;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}
body > header {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgb(205 205 205 / 75%);
}
header div:first-child {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
}
.header-link {
  display: flex;
  gap: 5px;
  align-items: center;
}
h1 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}
section {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
section header > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.function-shader-defs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
.function-shader-defs p,
.function-shader-defs h4 {
  margin: 0;
}
.function-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #2980b9;
  margin: 0;
}
.visibility-badge {
  font-size: 0.8em;
  background-color: #3498db;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
}
.attribute-badge {
  font-size: 0.8em;
  background-color: #e74c3c;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
}
.fragment-badge {
  background-color: #800080;
}
.vertex-badge {
  background-color: #32cd32;
}
.compute-badge {
  background-color: #1e90ff;
}
.signature {
  display: flex;
  flex-wrap: wrap;
}
.signature > span:not(:last-child),
.signature > div:not(:last-child) {
  margin-right: var(--gap);
}
.code-background {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
}
.function-comment {
  background-color: #eafaf1;
  padding: 10px;
  border-left: 4px solid #2ecc71;
  margin: 10px 0;
  white-space: pre-line;
}
.keyword {
  color: #e12b40;
}
.value {
  color: #1154b0;
}
.item-name {
  color: #7148be;
}
.param-list {
  display: flex;
}
.struct-field-rows {
  padding-left: 40px;
}
.struct-field-row {
  display: flex;
  column-gap: 5px;
}
.param {
  display: flex;
}
.param > span:not(:last-child),
.param > div:not(:last-child) {
  margin-right: var(--gap);
}
.no-margin {
  margin: 0 !important;
}
.arrow {
  margin: 0 var(--gap);
}
.img-link {
  display: flex;
  gap: 5px;
  align-items: center;
  width: max-content;
}
.section-header {
  width: fit-content;
  border-bottom: 2px dashed black;
}
.import-path {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  max-width: max-content;
}
.import-path h3 {
  font-size: 1.4em;
  color: #2c3e50;
  margin: 0;
}
.import-path-button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.import-path-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
.import-path-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.6);
}
.flex-align-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Search input */

.search-input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s ease;
  flex: 1 1 auto;
}
.search-input:focus {
  border-color: #3498db;
  outline: none;
}
.search-input::placeholder {
  color: #aaa;
}
.search-result-item {
  list-style-type: "👉";
  padding-inline-start: 1ch;
  border-top: 1px dashed #444175;
  width: 95%;
}
.search-result-item:first-child {
  border-top: none;
}
