<a
  href="{{githubLink}}#L{{lineNumber}}"
  target="_blank"
  rel="noopener noreferrer"
>
  <picture>
    <source
      srcset="/public/github-mark-white.png"
      media="(prefers-color-scheme: dark)"
    />
    <img src="/public/github-mark.png" width="20" height="20" />
  </picture>
</a>
