:root {
  --gap: 10px;

  --text-color: #cdd9e5;
  --bg-color: #f8f9fa;
  --text-color: #333;

  --header-bg: #f8f9fa;
  --header-link-hover-color: #000;

  --shadow-color: rgba(205, 205, 205, 0.75);
  --section-bg: #ffffff;
  --function-name-color: #2980b9;

  --code-bg: #f8f9fa;
  --code-border-color: #444;

  --item-name-color: #7148be;
  --keyword-color: #e12b40;
  --value-color: #1154b0;

  --comment-bg: #eafaf1;
  --comment-border: #2ecc71;

  --comment-bg: #e9ecef;
  --comment-border: #00b8d4;

  --badge-bg: #3498db;
  --attribute-bg: #e74c3c;

  --fragment-bg: #800080;
  --vertex-bg: #32cd32;
  --compute-bg: #1e90ff;

  --search-border: #ddd;
  --search-bg: #fff;
  --search-placeholder: #aaa;
  --import-bg: #ffffff;
  --import-button-bg: #3498db;
  --import-button-hover: #2980b9;
  --import-button-focus: rgba(52, 152, 219, 0.6);
  --import-path-header-color: #2c3e50;

  --search-result-border: #444175;
  --file-name-color: #2c3e50;
  --section-header-border-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cdd9e5;
    --code-border-color: #444;
    --text-color: #e0e0e0;

    --item-name-color: #c49dee;
    --keyword-color: #e8853d;
    --value-color: #68a5db;
    --bg-color: #1e1e1e;

    --header-bg: #1e1e1e;
    --header-link-hover-color: #fff;

    --shadow-color: rgb(10 10 10 / 75%);
    --section-bg: #2a2a2a;
    --function-name-color: #5dade2;
    --code-bg: #333333;

    --comment-bg: #1f3f2f;
    --comment-border: #98c379;

    --badge-bg: #2980b9;
    --attribute-bg: #c0392b;

    --fragment-bg: #9932cc;
    --vertex-bg: #228b22;
    --compute-bg: #1e90ff;

    --search-border: #555;
    --search-bg: #2e2e2e;
    --search-placeholder: #aaa;

    --import-bg: #2a2a2a;
    --import-button-bg: #2980b9;
    --import-button-hover: #2471a3;
    --import-button-focus: rgba(41, 128, 185, 0.6);
    --import-path-header-color: #eee;

    --search-result-border: #8884c6;
    --file-name-color: #eee;
    --section-header-border-color: #d1d1d1;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Fira Code", monospace;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body > header {
  position: sticky;
  top: 0;
  border-radius: 10px;
  background-color: var(--header-bg);
  box-shadow: 0px 1px 5px 0px var(--shadow-color);
}
body > header div:first-child {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
}
.header-link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--text-color);
}
.header-link:hover {
  color: var(--header-link-hover-color);
  border-bottom: 1px dashed var(--header-link-hover-color);
}
h1 {
  color: var(--file-name-color);
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}
section {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-color: var(--section-bg);
}
section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
section header > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.function-shader-defs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
.function-shader-defs p,
.function-shader-defs h4 {
  margin: 0;
}
.function-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: var(--function-name-color);
}
.visibility-badge {
  font-size: 0.8em;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  background-color: var(--badge-bg);
}
.attribute-badge {
  font-size: 0.8em;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
  background-color: var(--attribute-bg);
}
.fragment-badge {
  background-color: var(--fragment-bg);
}
.vertex-badge {
  background-color: var(--vertex-bg);
}
.compute-badge {
  background-color: var(--compute-bg);
}
.signature {
  display: flex;
  flex-wrap: wrap;
}
.signature > span:not(:last-child),
.signature > div:not(:last-child) {
  margin-right: var(--gap);
}
.code-background {
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
  background-color: var(--code-bg);
  border: 1px solid var(--code-border-color); /* Subtle border */
}
.function-comment p {
  padding: 10px;
  margin: 10px 0;
  white-space: pre-line;
  background-color: var(--comment-bg);
  border-left: 4px solid var(--comment-border);
}
.keyword {
  color: var(--keyword-color);
}
.value {
  color: var(--value-color);
}
.item-name {
  color: var(--item-name-color);
  border-bottom: 1px dashed transparent;
}
a.item-name:hover {
  border-bottom: 1px dashed var(--item-name-color);
}
.param-list {
  display: flex;
}
.struct-field-rows {
  padding-left: 40px;
}
.struct-field-row {
  display: flex;
  column-gap: 5px;
}
.param {
  display: flex;
}
.param > span:not(:last-child),
.param > div:not(:last-child) {
  margin-right: var(--gap);
}
.no-margin {
  margin: 0 !important;
}
.arrow {
  margin: 0 var(--gap);
}
.img-link {
  display: flex;
  gap: 5px;
  align-items: center;
  width: max-content;
}
.section-header {
  width: fit-content;
  border-bottom: 2px dashed var(--section-header-border-color);
}
.import-path {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  max-width: max-content;
  background-color: var(--import-bg);
}
.import-path h3 {
  font-size: 1.4em;
  color: var(--import-path-header-color);
  margin: 0;
}
.import-path-button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  background-color: var(--import-button-bg);
}
.import-path-button:hover {
  transform: scale(1.05);
  background-color: var(--import-button-hover);
}
.import-path-button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--import-button-focus);
}
.flex-align-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Search input */

.search-input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
  flex: 1 1 auto;
  background-color: var(--search-bg);
  border-color: var(--search-border);
  color: var(--text-color);
}
.search-input:focus {
  border-color: #3498db;
  outline: none;
}
.search-input::placeholder {
  color: var(--search-placeholder);
}
.search-result-item {
  list-style-type: "👉";
  padding-inline-start: 1ch;
  width: 95%;
  border-top: 1px dashed var(--search-result-border);
}
.search-result-item:first-child {
  border-top: none;
}

/* Version select */

.version-select {
  position: absolute;
  top: 1em;
  left: 1em;

  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid var(--code-border-color);
  border-radius: 5px;
  background-color: var(--code-bg);
  color: var(--text-color);
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
  max-width: max-content;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.version-select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px var(--import-button-focus);
}

.version-select option {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#results {
  margin-top: 20px;
  position: absolute;
  background: #1e1e1e;
  width: 100%;
  border-radius: 10px;
  background-color: var(--header-bg);
  box-shadow: 0px 1px 5px 0px var(--shadow-color);
}
