<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="stylesheet" href="/public/404.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/public/favicon.ico" type="image/svg+xml" />
  </head>
  <body>
    <h1 class="error-code">404</h1>
    <p class="error-message" id="message">Shader not found.</p>
    <a href="/" class="back-home">Return to Home</a>
    <script src="/public/404.js" type="text/javascript"></script>
  </body>
</html>
