<html lang="en">
  {{>head title="Bevy WGSL Explorer"}}

  {{> version-selector }}

  <body>
    <h1>Content</h1>

    {{> header }}
 
    <ul>
      {{#each files}}
        <li> <a class="with-highlight" href="/{{version}}/{{file}}">{{file}}</a></li>
      {{/each}}
    </ul>
  </body>
</html>
