<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bevy WGSL Explorer</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="icon" href="/public/favicon.ico" type="image/svg+xml" />
  </head>
  <body>
    <h1>Content</h1>

    <ul>
      {{#each files}}
        <li> <a href="{{file}}">{{file}}</a></li>
      {{/each}}
    </ul>

  </body>
</html>
